<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TextLanuch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>29550AC21EB1902C00C39984</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>29550ADB1EB1902C00C39984</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>29550AE61EB1902C00C39984</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
